<nav class="navbar">
  <%= link_to 'annaboter', root_path, class: "navbar-brand" %>
  <%= link_to 'Who is she?', about_index_path, id: "about" %>
  <%= link_to 'Email me', 'mailto:annabothe0@gmail.com', id: "email" %>
</nav>

<div class="container illustrations">
  <h1>Illustrations.</h1>
  <div class="type">
    <h4>DIGITAL</h4>
    <h4>POSCA</h4>
  </div>
  <p class="intro">Welcome to my portfolio, where creativity meets digital and Posca art. In my free time, I indulge in the joy of doodling, and I've seamlessly integrated this passion into my web design endeavors. I'm thrilled to share some of my favorite creations with you, and I want to emphasize that every piece of art and image you see on this website is a product of my own hands and imagination. I hope you find as much delight in exploring them as I did in bringing them to life.</p>
</div>

<div class="art-flex">
  <h2>DIGITAL</h2>
  <div class="art">
      <div class="worm">
        <%= image_tag("Procreate/Worm_Is_Here_To_Slay.png", size: "16x10", alt: "Self portrait of me holding a cup saying: Slay.") %>
        <p>Worm Is Here To Slay</p>
      </div>
      <div class="trust">
        <%= image_tag("Procreate/Trust_The_Process_.png", size: "16x10", alt: "Face on an open laptop with text above saying: Trust the process.") %>
        <p>Trust The Process</p>
      </div>
      <div class="sunflower">
        <%= image_tag("Procreate/Sunflower.png", size: "16x10", alt: "Girl's face in pastel colors, almost as if she is a sunflower") %>
        <p>Sunflower</p>
      </div>
      <div class="question">
        <%= image_tag("Procreate/What_Was_I_Doing.png", size: "16x10", alt: "White cat outline with questions marks above his head") %>
        <p>What Was I Doing</p>
      </div>
      <div class="work">
        <%= image_tag("Procreate/I_Have_To_Go_To_Work.png", size: "16x10", alt: "Business man cat having to go to work with purple blobs background") %>
        <p>I Have To Go To Work</p>
      </div>
      <div class="bee">
        <%= image_tag("Procreate/He_Is_Speed.png", size: "16x10", alt: "Bee getting enticed by a flower bouquet") %>
        <p>He Is Speed</p>
      </div>
      <div class="pink">
        <%= image_tag("Procreate/MacBook_Wallpaper.png", size: "16x10", alt: "Pink gardient blob wallpaper") %>
        <p>Vibing With Pink</p>
      </div>
      <div class="bootcampcat">
        <%= image_tag("Procreate/Bootcampcat_.png", size: "16x10", alt: "Cat dreaming of a cat graduating with the text: Don't worry about it champ, you'll get there.") %>
        <p>Bootcampcat</p>
      </div>
  </div>

  <h2>POSCA</h2>
  <div class="art">
    <div class="dissociate">
      <%= image_tag("Posca/Dissociate.png", size: "16x10", alt: "Self portrait of me dissociating") %>
      <p>Dissociate</p>
    </div>
    <div class="show-face-one">
      <%= image_tag("Posca/Show_Face_One.png", size: "16x10", alt: "Girl with curly hair staring with blue background") %>
      <p>Show Face One</p>
    </div>
    <div class="show-face-two">
      <%= image_tag("Posca/Show_Face_Two.png", size: "16x10", alt: "Me staring with blue background") %>
      <p>Show Face Two</p>
    </div>
    <div class="space-cat">
      <%= image_tag("Posca/Everything_Goes.png", size: "16x10", alt: "Cat carelessly floating in space") %>
      <p>Everything Goes</p>
    </div>
    <div class="panic">
      <%= image_tag("Posca/Panic.png", size: "16x10", alt: "Meteor coming down with great panic") %>
      <p>Panic</p>
    </div>
    <div class="fire">
      <%= image_tag("Posca/Fire.png", size: "16x10", alt: "Cozy fireplace") %>
      <p>Fire</p>
    </div>
    <div class="love">
      <%= image_tag("Posca/Love_Me_Cake.png", size: "16x10", alt: "Delicious pastel cake that says Love Me") %>
      <p>Love Me Cake</p>
    </div>
    <div class="red-blob">
      <%= image_tag("Posca/Red_Blob.png", size: "16x10", alt: "Red blobs everywhere") %>
      <p>Red Blob</p>
    </div>
  </div>
</div>



  <%# <div class="posca">
    <h1>Posca Art</h1>
    <div class="posca-photo">

    </div>
  </div> %>
