<nav class="navbar">
  <%= link_to 'annaboter', root_path, class: "navbar-brand" %>
</nav>

<section>
  <div class="container">
    <div class="procreate">
      <h1>Procreate Art</h1>
      <p>I love doodling during my free time and I like to encorporate them in my web designing too! Here are some of my favourites which I'm sure you'll like too.<br><b>Scroll to the right to find out</b></p>
      <div class="procreate-photo">
        <%= image_tag("Procreate/Worm_Is_Here_To_Slay.png", size: "16x10", alt: "Self portrait of me holding a cup saying: Slay.") %>
        <%= image_tag("Procreate/Trust_The_Process_.png", size: "16x10", alt: "Face on an open laptop with text above saying: Trust the process.") %>
        <%= image_tag("Procreate/Sunflower.png", size: "16x10", alt: "Girl's face in pastel colors, almost as if she is a sunflower") %>
        <%= image_tag("Procreate/What_Was_I_Doing.png", size: "16x10", alt: "White cat outline with questions marks above his head") %>
        <%= image_tag("Procreate/MacBook_Wallpaper.png", size: "16x10", alt: "Pink gardient blob wallpaper") %>
        <%= image_tag("Procreate/Bootcampcat_.png", size: "16x10", alt: "Cat dreaming of a cat graduating with the text: Don't worry about it champ, you'll get there.") %>
        <%= image_tag("Procreate/I_Have_To_Go_To_Work.png", size: "16x10", alt: "Business man cat having to go to work with purple blobs background") %>
        <%= image_tag("Procreate/He_Is_Speed.png", size: "16x10", alt: "Bee getting enticed by a flower bouquet") %>
      </div>
    </div>
</section>

  <%# <div class="posca">
    <h1>Posca Art</h1>
    <div class="posca-photo">

    </div>
  </div> %>

</div>
